.card {
  background: #f5f5f5;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 180px;
  padding: 20px;
}

.theme-title {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 8px;
}

.theme-summary {
  margin-top: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.mat-raised-button {
  margin-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
}

.btn-grey {
  background-color: #939393;
  color : white
}