<div class="card">
  <h2 class="theme-title">{{ theme.title }}</h2>
  <p class="theme-summary">
    {{ theme.description }}
  </p>
  <div class="btn-container">
    <button
      *ngIf="!theme.subscribed"
      mat-raised-button
      color="primary"
      (click)="onSubscribeClick()"
      [disabled]="isLoading"
    >
      S'abonner
    </button>
    <button
      *ngIf="theme.subscribed"
      mat-raised-button
      class="btn-grey"
      (click)="onUnsubscribeClick()"
      [disabled]="isLoading"
    >
      Se désabonner
    </button>
  </div>
</div>
