<app-header></app-header>
<div class="container">
  <div class="sub-container">
    <div class="icon-container">
      <mat-icon
        aria-hidden="false"
        routerLink=""
        aria-label="arrow back icon"
        fontIcon="west"
      ></mat-icon>
    </div>
    <img src="/assets/logo_p6.png" alt="logo" routerLink="" />

    <h1>Se connecter</h1>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmitForm()">
      <div class="form-field">
        <label for="username">Email ou nom d'utilisateur</label>
        <input
          type="text"
          id="username"
          formControlName="username"
          (keydown.enter)="onSubmitForm()"
        />
        <span
          class="error"
          *ngIf="loginForm.get('username')?.touched 
        && loginForm.get('username')?.errors?.['required']"
          >Veuillez saisir un email ou un nom d'utilisateur</span
        >
      </div>
      <div class="form-field">
        <label for="password">Mot de passe</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          (keydown.enter)="onSubmitForm()"
        />
        <span
          class="error"
          *ngIf="loginForm.get('password')?.touched 
        && loginForm.get('password')?.errors?.['passwordStrength']"
          >Votre mot de passe contient au moins 8 caractères, une majuscule, une
          minuscule, un chiffre et un caractère spécial</span
        >
      </div>
    </form>

    <span *ngIf="errorMessage" class="login-error">{{ errorMessage }}</span>
    <button mat-raised-button color="primary" (click)="onSubmitForm()">
      Se connecter
    </button>
  </div>
</div>
