.comment-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 50px;
}

@media (min-width: 1024px) {
  .comment-container {
    flex-direction: row;
    align-items: flex-start;
  }
}

.comment {
  background-color: #eeeeee;
  padding: 20px;
  font-size: 20px;
  border-radius: 16px;
}

span {
  font-size: 20px;
}

p {
  white-space: pre-line;
}
