<div class="card" routerLink="/details">
  <h2 class="article-title">Titre de l'article</h2>
  <div class="article-header">
    <span class="article-date">01 Janvier 2024</span>
    <span class="article-author">Par Auteur</span>
  </div>
  <p class="article-summary">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, magni
    consectetur fuga adipisci placeat illo autem ea necessitatibus optio, in
    officiis similique vero. Natus aperiam deleniti itaque vitae et fugiat?
  </p>
</div>
