.card {
  background: #f5f5f5;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 200px;
  padding: 20px;
}

.article-title {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 8px;
}

.article-date {
  margin-right: 40px;
}

.article-summary {
  margin-top: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
