<app-header></app-header>
<div class="main-container">
  <mat-icon
    class="arrow-back"
    aria-hidden="false"
    routerLink=""
    aria-label="arrow back icon"
    fontIcon="west"
  ></mat-icon>
  <div class="sub-container">
    <h2>{{ article.title }}</h2>
    <div class="article-infos">
      <span class="article-info">{{
        article.createdAt | date : "d MMMM y 'à' HH:mm"
      }}</span>
      <span class="article-info">{{ article.author }}</span>
      <span class="article-info">{{ article.theme.name }}</span>
    </div>
    <p class="content">
      {{ article.content }}
    </p>
    <mat-divider></mat-divider>

    <span class="comments-title">Commentaires</span>
    <div class="bottom-container">
      <div class="comments-section">
        <app-comment></app-comment>

        <div class="comment-input-container">
          <textarea
            class="comment-input"
            placeholder="Écrivez ici votre commentaire"
          ></textarea>
          <mat-icon
            class="send-button"
            aria-hidden="false"
            routerLink=""
            aria-label="arrow back icon"
            fontIcon="send"
          ></mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
