.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.sub-container {
  width: 100%;
  max-width: 1280px;
  margin-top: 40px;
  height: 100vh;
  padding-left: 10px;
  padding-right: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 30px;
}

@media (max-width: 600px) {
  .button-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}

button {
  font-size: 16px;
  font-weight: 700;
}

.sort-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sort-span {
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.mat-icon {
  cursor: pointer;
}

.articles-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding: 10px;
}

@media (max-width: 768px) {
  .articles-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
