@use "@angular/material" as mat;

$custom-typography: mat.define-typography-config(
  $button: mat.define-typography-level(14px, 36px, 400, "Inter", 0.0892857143em),
);

@include mat.all-component-typographies($custom-typography);
@include mat.core($custom-typography);

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Inter", "Helvetica Neue", sans-serif !important;
}
