.container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.sub-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-container {
  width: 100%;
}

.mat-icon {
  height: 60px;
  width: 100px;
  font-size: 50px;
  margin-left: 20px;
  margin-top: 30px;
  cursor: pointer;
}

.mat-icon:hover {
  color: rgba(0, 0, 0, 0.7);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.field {
  border: 2px solid #7763c5;
  border-radius: 8px;
  padding: 10px;
  width: 281px;
  height: 48px;
  font-family: Inter;
  font-size: 20px;

  box-sizing: border-box;
}

.field::placeholder {
  color: #8a8c8c;
}
select.field.placeholder {
  color: #8a8c8c;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  padding-right: 12px;
}

button {
  font-size: 16px;
  border-radius: 8px;
  width: 140px;
}

textarea {
  resize: none;
  min-height: 212px;
}

.error {
  margin-top: 5px;
  color: red;
  max-width: 281px;
}
